/* bg-red-300 flex flex-col justify-center items-center min-h-[600px] */
/* .hero {
  position: relative;
  background-color: #fca5a5;
  background-image: url("../../../public/src/image/hero.webp");
  background-size: auto;
  background-position-x: center;
  background-position-y: 0%;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  min-height: 500px;
} */
/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  height: 100px;
  width: 100%;
  background: linear-gradient(0deg, #eee 6%, rgba(255, 255, 255, 0) 50%);
} */

@media (min-width: 768px) {
  .hero {
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
  }
}
