@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url(./../../public/src/font/Poppins.ttf);
}

body {
  font-family: "Poppins";
  background: #ddd;
}

.pbgcolor {
  background-color: #00ADB5;
}
.typText {
  text-shadow: 2px 2px 3px #000;
}
.def-container {
  padding: 0 40px;
}

#hamburger:focus-within > span {
  display: none;
}
button#hamburger > .menuList {
    display: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
#hamburger:focus-within > .menuList {
    display: flex;
}

button.tentang-kami > span,
button.akademik > span,
button.kegiatan > span,
button.lain-lain > span {
  color: #eee;
  display: flex;
  justify-content: space-between;
}
button.tentang-kami > ul,
button.akademik > ul,
button.kegiatan > ul,
button.lain-lain > ul {
  display: none;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  color: #eee;
}
button.tentang-kami > ul > li,
button.akademik > ul > li,
button.kegiatan > ul > li,
button.lain-lain > ul > li {
  margin-left: 10px;
}
button.tentang-kami:focus-within > ul,
button.akademik:focus-within > ul,
button.kegiatan:focus-within > ul,
button.lain-lain:focus-within > ul {
  display: block;
}

@media(min-width: 1200px) {
  body {
    display: none;
  }
}