@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url(./../../public/src/font/Poppins.ttf);
}

body {
  font-family: "Poppins";
  background: #eee;
  position: relative;
}

.bg-pgray {
  background-color: #eee;
}
.pbgcolor {
  background-color: #00ADB5;
}
.text-pgray {
  color: rgb(75 85 99);
}
.text-sgray {
  color: rgb(107 114 128);
}
.text-pteal {
  color: #00ADB5;
}
.typText {
  text-shadow: 2px 2px 3px #000;
}
.def-container {
  padding: 0 40px;
}

.drawer {
  z-index: 99;
}

@media(min-width: 1200px) {
  * {
    display: none;
  }
}