@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url(./../../public/src/font/Poppins.ttf);
}

.font-poppins {
  font-family: "Poppins";
}

body {
  font-family: "Poppins";
  background: #eee;
  position: relative;
}

.bg-pgray {
  background-color: #eee;
}
.bg-pteal {
  background-color: #00adb5;
}
.pbgcolor {
  background-color: #00adb5;
}
.text-pgray {
  color: rgb(75 85 99);
}
.text-sgray {
  color: rgb(107 114 128);
}
.text-pteal {
  color: #00adb5;
}
.typText {
  text-shadow: 2px 2px 3px #000;
}
.def-container {
  padding: 0 40px;
}

.drawer {
  z-index: 99;
}

#cross1 {
  top: 10%;
  left: 7%;
  display: block;
  position: absolute;
  z-index: 1;
  animation: tambahandivtiga 30s linear infinite;
}
#cross2 {
  bottom: -4%;
  right: 10%;
  display: block;
  position: absolute;
  z-index: 1;
  animation: tambahandivtiga 30s linear infinite;
}
#triangle1 {
  bottom: -2%;
  right: 6%;
  display: block;
  position: absolute;
  z-index: 1;
  animation: tambahandivtiga 30s linear infinite;
}
#triangle2 {
  bottom: 60%;
  left: -10%;
  display: block;
  position: absolute;
  z-index: 1;
  animation: tambahandivtiga 30s linear infinite;
}

@keyframes tambahandivtiga {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  * {
    /* display: none; */
  }
}
